.app {
    background-color:whitesmoke;
    text-align: center;
    color: black;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top:0;
}


button {
    width: 150px;
    font-style: normal;
}

.welcome {
    margin-top: 20px;
    margin-bottom: 20px;
    font-style: italic;
}
.cryptocurrency {
    letter-spacing: 3px;
    font-size: 70px;
    font-family: 'Lucida Console';
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 0px 30px;
}

.crypto {
    color: cadetblue;
}

.currency {
    color: darkgreen;
}

.select {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
}

.select-indices {
    width: 400px;
    float: left;
    margin-left: 10px;
}

.select-indices-block {
    display: inline;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 0px 10px;
}

.chart {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
}

.navigation-bar {
    margin-top: 20px;
    margin-bottom: 10px;
}

.navigation-button {
    margin-left: 15px;
}

.datetime-picker {
    align-content: center;
}

.datetimepicker-block {
    display: inline;
    align-content: center;
}
.picker {
    float: left;
    margin: 10px 20px;
}

.currency-icon {
    width: 20px;
    height: 20px;
}

